In [8]:
import pandas as pd
import yfinance as yf
from datetime import datetime

In [5]:
number_years = 10

timestamp_end = datetime.now()
timestamp_start = datetime(timestamp_end.year - number_years, 
                           timestamp_end.month, 
                           timestamp_end.day)

In [6]:
companies = {'Amazon': 'AMZN',
             'Nvidia': 'NVDA',
             'META'  : 'META',
             'AMD'   : 'AMD',
             'GitLab': 'GTLB'}

In [7]:
dataset = {}

for company_name, company_ticket in companies.items():
    dataset[company_name] = yf.download(company_ticket, timestamp_start, timestamp_end)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [17]:
dataset

{'Amazon':                   Open        High         Low       Close   Adj Close  \
 Date
 2014-07-29   16.099001   16.145000   15.975000   16.000000   16.000000
 2014-07-30   16.072500   16.136499   15.925000   16.125500   16.125500
 2014-07-31   16.000500   16.034000   15.593000   15.649500   15.649500
 2014-08-01   15.684500   15.791500   15.229500   15.353000   15.353000
 2014-08-04   15.442000   15.809000   15.425000   15.682500   15.682500
 ...                ...         ...         ...         ...         ...
 2024-07-22  185.000000  185.059998  182.479996  182.550003  182.550003
 2024-07-23  184.100006  189.389999  183.559998  186.410004  186.410004
 2024-07-24  183.199997  185.449997  180.410004  180.830002  180.830002
 2024-07-25  182.910004  183.899994  176.800003  179.850006  179.850006
 2024-07-26  180.389999  183.190002  180.240005  182.500000  182.500000

                Volume
 Date
 2014-07-29   57676000
 2014-07-30   79380000
 2014-07-31  103840000
 2014-08-01  148830000
 2014-08-04   84018000
 ...               ...
 2024-07-22   39931900
 2024-07-23   47537700
 2024-07-24   41532400
 2024-07-25   44464200
 2024-07-26   29447400

 [2516 rows x 6 columns],
 'Nvidia':                   Open        High         Low       Close   Adj Close  \
 Date
 2014-07-29    0.443250    0.450500    0.443000    0.444500    0.423136
 2014-07-30    0.447250    0.453250    0.446000    0.452000    0.430276
 2014-07-31    0.446500    0.450000    0.436750    0.437500    0.416473
 2014-08-01    0.437500    0.444750    0.436000    0.442250    0.420994
 2014-08-04    0.441750    0.445500    0.439000    0.441250    0.420043
 ...                ...         ...         ...         ...         ...
 2024-07-22  120.349998  124.070000  119.860001  123.540001  123.540001
 2024-07-23  122.779999  124.690002  122.099998  122.589996  122.589996
 2024-07-24  119.169998  119.949997  113.440002  114.250000  114.250000
 2024-07-25  113.040001  116.629997  106.300003  112.279999  112.279999
 2024-07-26  116.190002  116.199997  111.580002  113.059998  113.059998

                Volume
 Date
 2014-07-29  217972000
 2014-07-30  246184000
 2014-07-31  401880000
 2014-08-01  219884000
 2014-08-04  241724000
 ...               ...
 2024-07-22  258068900
 2024-07-23  173911000
 2024-07-24  327776900
 2024-07-25  460067000
 2024-07-26  292831600

 [2516 rows x 6 columns],
 'META':                   Open        High         Low       Close   Adj Close  \
 Date
 2014-07-29   74.720001   74.919998   73.419998   73.709999   73.558838
 2014-07-30   74.209999   75.190002   74.129997   74.680000   74.526848
 2014-07-31   74.000000   74.169998   72.440002   72.650002   72.501015
 2014-08-01   72.220001   73.220001   71.550003   72.360001   72.211617
 2014-08-04   72.360001   73.879997   72.360001   73.510002   73.359253
 ...                ...         ...         ...         ...         ...
 2024-07-22  486.579987  492.059998  483.899994  487.399994  487.399994
 2024-07-23  489.839996  495.220001  487.720001  488.690002  488.690002
 2024-07-24  472.309998  476.299988  460.579987  461.269989  461.269989
 2024-07-25  463.260010  463.549988  442.649994  453.410004  453.410004
 2024-07-26  464.200012  469.769989  459.420013  465.700012  465.700012

               Volume
 Date
 2014-07-29  41324000
 2014-07-30  36853000
 2014-07-31  43992000
 2014-08-01  43535000
 2014-08-04  30777000
 ...              ...
 2024-07-22  12023100
 2024-07-23   9455500
 2024-07-24  17649700
 2024-07-25  18240500
 2024-07-26  14209300

 [2516 rows x 6 columns],
 'AMD':                   Open        High         Low       Close   Adj Close  \
 Date
 2014-07-29    3.740000    3.840000    3.730000    3.790000    3.790000
 2014-07-30    3.820000    3.880000    3.770000    3.820000    3.820000
 2014-07-31    3.800000    3.990000    3.780000    3.910000    3.910000
 2014-08-01    3.910000    4.010000    3.870000    3.970000    3.970000
 2014-08-04    3.970000    4.020000    3.930000    4.000000    4.000000
 ...                ...         ...         ...         ...         ...
 2024-07-22  154.229996  156.699997  152.539993  155.869995  155.869995
 2024-07-23  154.949997  157.050003  153.800003  154.000000  154.000000
 2024-07-24  152.720001  153.679993  144.529999  144.630005  144.630005
 2024-07-25  144.070007  144.750000  136.809998  138.320007  138.320007
 2024-07-26  140.320007  141.289993  138.270004  139.990005  139.990005

                Volume
 Date
 2014-07-29   36157400
 2014-07-30   42981200
 2014-07-31  112162900
 2014-08-01   33710000
 2014-08-04   21493200
 ...               ...
 2024-07-22   43912500
 2024-07-23   31950600
 2024-07-24   49203100
 2024-07-25   60578500
 2024-07-26   48905700

 [2516 rows x 6 columns],
 'GitLab':                   Open        High         Low       Close   Adj Close  \
 Date
 2021-10-14   94.250000  105.989998   93.110001  103.889999  103.889999
 2021-10-15  105.000000  115.459999   93.500000  115.000000  115.000000
 2021-10-18  114.349998  114.489998  103.010002  105.519997  105.519997
 2021-10-19  105.779999  109.820000   99.550003  107.720001  107.720001
 2021-10-20  110.339996  110.339996  100.120003  105.559998  105.559998
 ...                ...         ...         ...         ...         ...
 2024-07-22   54.005001   54.110001   52.299999   53.540001   53.540001
 2024-07-23   54.169998   56.119999   54.169998   55.049999   55.049999
 2024-07-24   54.320000   55.060001   51.840000   51.959999   51.959999
 2024-07-25   52.500000   55.380001   52.139999   53.439999   53.439999
 2024-07-26   54.150002   54.570000   52.169998   53.369999   53.369999

              Volume
 Date
 2021-10-14  8550900
 2021-10-15  4954000
 2021-10-18  1803400
 2021-10-19  1498600
 2021-10-20  2346500
 ...             ...
 2024-07-22  1521200
 2024-07-23  2509300
 2024-07-24  1501200
 2024-07-25  2255700
 2024-07-26  1518800

 [699 rows x 6 columns]}